{%  extends 'base.html' %}
{% load threadedcomments_tags %}
{% load crispy_forms_tags %}

{% block javascript %}
    <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
        })

    </script>
{% endblock javascript %}

{% block underheader %}
<div class="post_detail">
    <div class="post_detail_author">
        <h2>{{ post.title }}</h2>
        <p>{{post.author}} | {{post.date}}</p>
        <p>{{post.text}}</p>
        <a href="#form-comment" class="btn btn-primary" role="button">Comment</a>
        {% if request.user == post.author %}
        <p><a href="{% url 'update_post' post.pk %}">Edit post</a> | <a href="{% url 'delete_post' post.pk %}">Delete
        </a></p>
    {% endif %}
    </div>
    <div class="comments_wrapper" id="comments">
        {% render_comment_list for post %}

        <div id="wrap_write_comment">
            {% render_comment_form for post %}
        </div>
    </div>
</div>
<br />
<br />
<br />
{% endblock underheader %}
