{% extends 'base.html' %}
{% block underheader %}
<div class="user_profile">
    <div class="user_info">
        {{user.photo}}
        <p>{{ customuser.username }}</p>
        {{customuser.university}} • {{customuser.country.name}}
    </div>
    <div class="research_description">
        {{ customuser.research_description }}
    </div>
    {% if request.user.username == customuser.username %}
    <a href="{% url 'user_profile:edit_profile' customuser.username %}">Edit your profile</a>
    {% endif %}
</div>
{% endblock underheader %}

